body {
  font-family: 'Roboto', sans-serif;

  &::after {
    content: "";
    background-image: url('/src/assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }
}

.container {
  min-height: 100vh;
}

.details {
  display: flex;
  padding: 20px;
  justify-content: center;

  &--box {
    border: 1px solid $color-grey;
    background-color: $color-grey-light;
    padding: 10px;

    img {
      width: 100%;
    }

    .bottom-line {
      border-bottom: 1px solid $color-grey;
    }
  }

  h2 {
    text-align: center;
  }

  .hide {
    display: none;
  }
}

.btn-beer {
  width: 180px;
  height: 50px;
  font-size: 16px !important;
  font-weight: 500 !important;
  border: solid 3px $color-black !important;
  color: $color-black !important;

  &:hover {
    border: solid 3px $color-gold !important;
    color: $color-gold !important;
    background-color: $color-black!important;
  }
}

.loader {
  text-align: center;
  font-size: 30px;
}

// HACKS
.MuiGrid-spacing-xs-4 {
  //width: calc(100% + 32px);
  width: 100% !important;
}

.MuiCircularProgress-colorPrimary {
  color: $color-gold !important;
}