body {
  font-family: 'Roboto', sans-serif;

  &::after {
    content: "";
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
  }
}

.btn-beer {
  width: 180px;
  height: 50px;
  font-size: 16px !important;
  font-weight: 500 !important;
  border: solid 3px $color-black !important;
  color: $color-black !important;

  &:hover {
    border: solid 3px $color-gold !important;
    color: $color-gold !important;
    background-color: $color-black!important;
  }
}

// HACKS
.MuiGrid-spacing-xs-4 {
  //width: calc(100% + 32px);
  width: 100% !important;
}